html {
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: #F2E7DC;
}

header{
    background-color: #A9D9D0;
    color: #027373;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
}

div{
    background-color: white;
    color: black;
    border-radius: 3px;
}

#name{
    text-decoration-line: underline;
    text-decoration-style: dashed;
    
}

